* {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px).col-sm-3 {
  float: left !important;
}

body {
  font-family: 'Inconsolata', monospace;
  font-family: 'Karla', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h1 {
  font-family: "Karla", sans-serif;
  font-size: 110px;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: -5px;
}

h3 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  letter-spacing: -5px;
  padding: 0;
  margin: 0;
  font-size: 90px;
}

h4 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0px;
}

h6 {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Inconsolata', monospace;
  font-weight: 200;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inconsolata', monospace;
  font-weight: 200;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  font-weight: 600;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.navbar button {
  outline: none !important;
  border: none !important;
}

.fa-bars {
  color: #024A80;
  font-size: 24px !important;
}

#banner {
  background-color: #000;
  background-image: url("../img/banner-gradient.png"),
    url("../img/iniad-2.jpg");
  background-position: center center, center top;
  background-repeat: repeat, no-repeat;
  padding-top: 5%;
  z-index: 2;
}

#banner-description {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 160px;
}

#connector-1 {
  position: absolute;
  top: 721px;
  left: 16%;
  z-index: 1;
}

.section-title {
  padding-top: 165px;
  padding-left: 70px;
}

.section-description {
  text-align: right;
  padding-top: 430px;
}

.news-color {
  color: #BDCE5E;
}

/* Carousel*/
@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active+.carousel-item,
  .carousel-inner .active+.carousel-item+.carousel-item,
  .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
    transition: none;
    margin-right: initial;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -20%;

    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }

  .container-fluid {
      margin: 20px auto 10px;
      padding: 20px 20px 0;
      max-width: 90%;
  }

  #carouselExample {

  }

  .carousel-item {
    width: 405px;
    height:655px;
  }
  .carousel-item img {
    height: 100%;
    z-index: 1;
  }
  .caption {
    height: 100%;
    position: absolute;
    z-index: 2;
    padding: 60px 40px;
    color: #fff
  }
  .caption a {
            color: #fff;
            }
            h4 {
              padding-bottom: 27px;
            }
  .caption-cta {
    position: absolute;
    bottom: 40px;
  }

.img-container { position: relative; }

.img-container .top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

  /* carousel control */
  .control-box {
    text-align: right;
    width: 100%;
    padding: 58px 0;
  }

  .carousel-control-prev {
    color: #024A80;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 30px;
    font-weight: 200;
    line-height: 18px;
    position: relative;
    height: 30px;
    width: 50px;
  }

  .carousel-control-next {
    color: #024A80;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 30px;
    font-weight: 200;
    line-height: 18px;
    position: relative;
    height: 30px;
    width: 50px;
  }
}
